.load {
  color: #f0f;
  font-size: 20px;
  font-family: cursive;
}
h1 {
  color: #d17557;
  font-family: cursive;
}
.success {
  font-size: 60px;
  color: #0f0;
}
.error {
  color: #f00;
}

form {
  background-color: #f0f;
  padding: 20px;
  margin: auto;
  width: 50%;
}
input[type="text"] {
  width: 90%;
  margin: 10px;
  padding: 10px;
}
input[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 10px;
}
input[type="password"] {
  width: 90%;
  margin: 10px;
  padding: 10px;
}

label {
  margin-right: 15px;
  display: block;
  margin: 10px;
}
.radio {
  margin: 10px;
}
.btn {
  display: block;
  margin: auto;
  border: none;
  padding: 20px;
  font-size: 18px;
  background-color: #fff;
  color: #f0f;
}
.radioo {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
.male {
  margin-right: 20px;
}
p {
  margin: 10px;
}
.extract {
  background-color: #acacac;
}
