.load {
  color: #f0f;
  font-size: 20px;
  font-family: cursive;
}
h1 {
  color: #d17557;
  font-family: cursive;
}
.success {
  font-size: 60px;
  color: #0f0;
}
.error {
  color: #f00;
}

form {
  background-color: #f0f;
  padding: 20px;
}
input[type="text"] {
  width: 50%;
}
input[type="email"] {
  width: 50%;
}
input[type="password"] {
  width: 43.5%;
}
label {
  margin-right: 15px;
}
.radio {
  margin: auto;
}
button {
  display: block;
  margin: auto;
}
